<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"

default-init-method="doStuffNo">

	<bean id="singlePropertyBean" class="com.emc.spring.SinglePropertyBean" destroy-method="destroy" init-method="init">
		<property name="property" value="Hello World!"/>
	</bean>

	<bean id="childPropertyBean" class="com.emc.spring.ChildPropertiesBean" parent="singlePropertyBean" destroy-method="nop" init-method="nop">
		<property name="property2" value="Second Value"/>
	</bean>

	<bean class="com.emc.spring.PostProcessorExample"/>

</beans>